<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to allow you to select images for your gift registry</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1092127980210-q13hcvn12mndok4ok6e2isbvhd09lmof</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1092127980210-q13hcvn12mndok4ok6e2isbvhd09lmof.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Italic-VariableFont_opsz,wght.ttf</string>
		<string>Inter-VariableFont_opsz,wght.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
